@font-face {
  font-family: "Montserrat";
  src: url(../fonts/static/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Montserrat-thin";
  src: url(../fonts/static/Montserrat-Thin.ttf);
}
.container-fluid {
  background-color: #0A0C0D;
}

.header__logo {
  margin: 27px 10px;
}
.header__logo img {
  width: 100%;
}
.header__notify {
  margin: 32px 33px;
  text-align: right;
}
.header__notify button {
  border: none;
  border-radius: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#47C3ED), color-stop(0.01%, #FFFFFF), color-stop(4.69%, #79D3F2), color-stop(17.19%, #47C3ED), to(#1291D2));
  background: linear-gradient(180deg, #47C3ED 0%, #FFFFFF 0.01%, #79D3F2 4.69%, #47C3ED 17.19%, #1291D2 100%);
}

.redeem__item.img {
  text-align: center;
}
.redeem__item.img img {
  width: 100%;
}
.redeem__item.title h3 {
  color: #FFFFFF;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0 0;
}
.redeem__item.desc {
  margin: 10px 0;
}
.redeem__item.desc img {
  display: inline-block;
}
.redeem__item.desc p {
  display: inline-block;
  font-family: "Montserrat-thin";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  opacity: 0.56;
}

.pagination {
  margin: 0 20px;
}
.pagination.active {
  background-color: #26ADCD;
  color: #fff;
  margin: 0;
}
.pagination__prev {
  color: #26ADCD !important;
}
.pagination__next {
  color: #26ADCD !important;
}
.pagination a {
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  color: #707070;
}

.categories {
  margin: 80px 0 0;
}
.categories__title h3 {
  color: #FFFFFF;
  font-size: 23px;
}
.categories__block {
  border-radius: 25px;
}
.categories__block.adventure {
  border: 1px solid #CCCCCC;
  margin: 10px 0px;
}
.categories__block.img-adventure {
  display: inline-block;
  margin: 10px 5px 10px 10px;
}
.categories__block.img-adventure img {
  border: 1px solid rgba(204, 204, 204, 0.8);
  padding: 7px;
  border-radius: 50px;
  background-color: #77B7CA;
}
.categories__block.arcade {
  border: 1px solid #EF5DA8;
  margin: 10px 0px;
}
.categories__block.img-arcade {
  display: inline-block;
  margin: 10px 5px 10px 10px;
}
.categories__block.img-arcade img {
  border: 1px solid rgba(204, 204, 204, 0.8);
  padding: 7px;
  border-radius: 50px;
  background-color: #F792AE;
}
.categories__block.fantasiya {
  border: 1px solid rgba(204, 204, 204, 0.8);
  margin: 10px 0px;
}
.categories__block.img-fantasiya {
  display: inline-block;
  margin: 10px 5px 10px 10px;
}
.categories__block.img-fantasiya img {
  border: 1px solid #F89B83;
  padding: 7px;
  border-radius: 50px;
  background-color: #F89B83;
}
.categories__block.archi {
  border: 1px solid rgba(204, 204, 204, 0.8);
  margin: 10px 0px;
}
.categories__block.img-archi {
  display: inline-block;
  margin: 10px 5px 10px 10px;
}
.categories__block.img-archi img {
  border: 1px solid rgba(204, 204, 204, 0.8);
  padding: 7px;
  border-radius: 50px;
  background-color: #7F6FF3;
}
.categories__block.text {
  display: inline-block;
}
.categories__block.text p {
  color: #FFFFFF;
}

.search-container form {
  padding: 20px 0;
}
.search-container form button {
  margin-right: -38px;
  position: relative;
  border: none;
  background: transparent;
}
.search-container form button i {
  color: rgba(48, 48, 48, 0.431372549);
}
.search-container form input {
  width: 100%;
  border-radius: 20px;
  padding: 3px 0;
  border: none;
}