#popup {
    .popup {
        position: fixed;
        width: 100%;
        z-index: 1;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .popup_inner {
        position: absolute;
        left: 8%;
        right: 8%;
        top: 13%;
        margin: auto;
        border-radius: 20px;
        background: rgba(255, 255, 255, 0.25);
        box-shadow: inset 17.6px -17.6px 17.6px rgb(194 194 194 / 10%),
            inset -17.6px 17.6px 17.6px rgb(255 255 255 / 10%);
        backdrop-filter: blur(17.6px);
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        border-radius: 16px;
    }
    span {
        color: rgb(255, 255, 255);
        left: 0;
        font-size: 28px;
        font-weight: bold;
        text-shadow: 0 1px 0 #fff;
        opacity: 0.5;
    }
    .row{
        h1{
            padding: 14px 0 0;
            font-family: "Montserrat";
        }
        p{
            font-family: "Montserrat-thin";
            color: #AFB0B1;
            width: 84%;
            text-align: left;
        }
        button {
            background-color: #47c3ed;
            border-radius: 20px;
            border: none;
            width: 231px;
            height: 36px;
            color: #fff;
        }
    }
    
}
