#footer {
    .row{
        width: 100%;
        height: 31px;
        margin: 0 auto;
        position: relative;
        padding: 0 15px;
        i{
            padding: 7px 0;
            color: #3030306E;
        }
        input{
            border-radius: 30px;
            border: none;
        }
        span{
            width: 93%;
        }
    }
    .container-1 {
        width: 100%;
        vertical-align: middle;
        white-space: nowrap;
        position: relative;
    }
    .container-1 input#search {
        width: 100%;
        height: 41px;
        background: #fff;
        border: none;
        font-size: 10pt;
        float: left;
        color: #63717f;
        padding-left: 45px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 30px;
    }
    .container-1 input#search::-webkit-input-placeholder {
        color: #65737e;
    }

    .container-1 input#search:-moz-placeholder {
        /* Firefox 18- */
        color: #65737e;
    }

    .container-1 input#search::-moz-placeholder {
        /* Firefox 19+ */
        color: #65737e;
    }

    .container-1 input#search:-ms-input-placeholder {
        color: #65737e;
    }
    .container-1 .icon{
        position: absolute;
        top: 50%;
        margin-left: 17px;
        margin-top: 10px;
        z-index: 1;
        color: #4f5b66;
      }
    // .search-container {
    //     form {
    //         padding: 20px 0;
    //         button {
    //             margin-right: -38px;
    //             position: relative;
    //             border: none;
    //             background: transparent;
    //             i {
    //                 color: rgba(48, 48, 48, 0.431372549);
    //             }
    //         }
    //         input {
    //             width: 100%;
    //             border-radius: 10px;
    //             padding: 3px 0;
    //             border: none;
    //         }
    //     }
    // }
}
